<!DOCTYPE html>
<html lang="uk">

<%- include('../blocks/head.ejs'); %>

<body class="bg-dark text-light text-center">

<%- include('../blocks/header.ejs'); %>

<!-- Логотип університету -->
<div class="container d-flex justify-content-center my-5">
    <img src="/web_application/frontend/img/logo.png" class="img-fluid">
</div>

<!-- Текст сторінки -->
<h1 class="text-primary">Програмування web-додатків</h1>
<h4>Автор: Демчук Юлія</h4>
<h4 class="text-success mb-3"
    data-bs-toggle="collapse"
    href="#task"
    role="button"
    aria-expanded="false"
    aria-controls="task">Варіант №1</h4>
<!-- Блок із завданням -->
<div class="collapse" id="task">
    <div class="container-fluid bg-dark border-top border-secondary">
        <div class="row my-3">
            <!-- Блок-заглушка -->
            <div class="col-1 d-none d-lg-block"></div>

            <!-- Лівий блок -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="container-flex">
                    <p class="text-success fs-4 mx-5">Реалізувати з допомогою прототипів або класів такі інформаційні об’єкти:</p>
                    <div class="d-inline-block">
                        <ul class="text-start fs-5">
                            <li>Пасажир</li>
                            <li>Квиток</li>
                            <li>Потяг</li>
                            <li>Продані квитки</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Блок-заглушка -->
            <div class="col-2 d-none d-xl-block"></div>

            <!-- Правий блок -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="container-flex">
                    <p class="text-primary fs-4 mx-5">Реалізувати такі можливості системи:</p>
                    <div class="d-inline-block">
                        <ul class="text-start fs-5">
                            <li>Додавання нового поїзда в колекцію</li>
                            <li>Редагування поїзда в колекції</li>
                            <li>Видалення поїзда з колекції</li>
                            <li>Пошук одного поїзда в колекції</li>
                            <br>
                            <li>Додавання  пасажира </li>
                            <li>Редагування пасажира</li>
                            <li>Видалення пасажира</li>
                            <li>Пошук пасажира</li>
                            <li>Пошук усіх пасажирів</li>
                            <br>
                            <li>Купити квиток</li>
                            <li>Редагування квитка</li>
                            <li>Видалення квитка</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Блок-заглушка -->
            <div class="col-1 d-none d-lg-block"></div>
        </div>
    </div>
</div>
<%- include('../blocks/scripts.ejs'); %>
</body>
</html>